@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #dbeafe, #fef2f2);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  background: white;
  padding: 40px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 5px;
  color: #b91c1c;
}

.subtitle {
  color: gray;
  font-size: 14px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #dc2626;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #b91c1c;
}

.error {
  color: red;
  font-size: 14px;
}

.footer-text {
  margin-top: 20px;
  font-size: 12px;
  color: gray;
}